.body-background {
    background-image: url("https://qsf.fs.quoracdn.net/-3-images.home.illo_1920.png-26-5ac607d989ef8067.png");
}
/*Blocks with all info*/
.main_block {
    display: inline-block;
    background-color: white;
    width: 50%;
    height: 500px;
    position: fixed;
    top: 10%;
    left: 25%;
}

/*Block with Quora logo*/
.main_logo{
    text-align: center;
    position: relative;
    left: 35%;
    margin-top: 3%;
}

/*Quora text*/
.main_txt {
    color: #949494;
    font-size: 21px;
    text-align: center;
    margin-bottom: 10%;
    font-family: 'Hind Siliguri', sans-serif;
}

.content_block{
    display: inline;
    margin: 5%;
}

/*Blocks with social media links*/
.media_links_block {
    display: inline-block;
    width: 44%;
}

/*Social media button*/
#media_btn {
    display: inline-block;
    width: 280px;
    height: 38px;
    margin-bottom: 14px;
    border-radius: 5px;
}

/*Effects occurs when mouse hovers the media button*/
.media_btn1{
    background-color: #df4930;
}
.media_btn1:hover{
    background-color: rgb(223,73,48,0.6);
}
.media_btn2 {
   background-color: #3b5998;
}
.media_btn2:hover {
    background-color: rgba(59,89,152,.6);
}

/*Social media logo : facebook or google*/
.media_logo {
    display: inline;
    vertical-align: center;
    position: relative;
    top: 8px;
    left: 18px;
}

/*Social media text : information*/
.media_txt {
    display: inline;
    vertical-align: center;
    color: white;
    font-size: 17px;
    margin-left: 38px;
    font-family: 'Hind Siliguri', sans-serif;
}

/*Privacy policy paragraph*/
.media_status{
    color: #949494;
    margin: 0%;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}

/*Paragraph with privacy policy agreement_links*/
.media_status_links {
    text-decoration: none;
    color:#3b5998;
    margin: 0%;
    font-family: 'Hind Siliguri', sans-serif;
}
.media_status_links:hover {
    text-decoration: underline;
    text-decoration-color: #3b5998;
}

/*Block with sigin form*/
.login_block {
    display: inline-block;
    width: 45%;
    padding-bottom: 2%;
    padding-left: 2%;
    border-right: 1px grid green;
}

.login_label {
    margin: 12.5px;
    color: black;
    font-family: 'Hind Siliguri', sans-serif;
}

/*Input to enter email id and password*/
.login_input {
    box-sizing: border-box;
    border: 1px ridge #949494;
    border-radius: 4px;
    background-color: #f7f3f3;
    border-color: #f7f3f3;
    width: 280px;
    height: 35px;
    margin: 12.5px;
    padding-left: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

/*Question to make sure that u didn't forget your password*/
.login_ques {
    color: #949494;
    margin-left: 12.5px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}
.login_ques:hover {
    text-decoration: underline;
    text-decoration-color: #949494;
}

/*Button to submit your login form*/
.login-btn {
    display: inline;
    color: white;
    background-color: rgba(0,0,255,0.4);
    padding: 1% 2.5% 1% 2.5%;
    border-color: rgba(0,0,255,0.4);
    border-radius: 5px;
    margin-left: 38%;
    font-style: bold;
    font-family: 'Hind Siliguri', sans-serif;
}

/*horizontal lines*/
.horiziontal {
    margin: 0%;
    border: ipx grid #f7f3f3;
}

/*hindi language*/
.hindi_lang {
    margin: 0%;
    text-align: center;
    color: #949494;
    font-size: 13px;
}

/*Links which provides the basic info*/
.footer_links_container {
    vertical-align: middle;
    text-align: center;
}

.footer_links {
    text-decoration: none;
    color: #949494;
    padding: 1%;
}
.footer_links:hover {
    text-decoration: underline;
    text-decoration-color: #949494;
}